<h2> Cat Index </h2>
<ul>    
    <% @cats.each do |cat| %>
    <li> <%= cat.name%></li>
    <li> <%= cat.color%></li>
    <li> <%= cat.birth_date%></li>
    <li> <%= cat.description%></li>
    <li><li>
    <% end %>
</ul>




